<a href="https://colab.research.google.com/github/overthemoonlala/python/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 반복문

In [ ]:
for i in range(10):
  print('=')

=
=
=
=
=
=
=
=
=
=

In [ ]:
for i in range(10): #0부터 시작 시작
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(10):
  print("=" + str(i+1) + "=") #형변환해주기!!!!

=1=
=2=
=3=
=4=
=5=
=6=
=7=
=8=
=9=
=10=

In [ ]:
#별 출력하기
for i in range(10):
  print('*' * (i + 1))

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
marks = [90, 24,  59, 100]

number = 0
for mark in marks:
  number = number + 1
  if mark >= 60:
    print('%d번 학생은 합격입니다' % number)
  else:
    print('%d번 학생은 불합격입니다.' % number)

1번 학생은 합격입니다
2번 학생은 불합격입니다.
3번 학생은 불합격입니다.
4번 학생은 합격입니다

In [ ]:
#구구단!
for i in range(2,10):
  for j in range(1,10):
    print(i*j, end = '')
  print('')

24681012141618
369121518212427
4812162024283236
51015202530354045
61218243036424854
71421283542495663
81624324048566472
91827364554637281

In [ ]:
num = 1
while num <= 10:
  print(num)
  num = num + 1

1
2
3
4
5
6
7
8
9
10

In [1]:
print('안녕', end='!')
print('홍길동')

안녕!홍길동

In [4]:
# 90이상 A, 80이상 B, 60이상 D, 미만은 F

score = int(input('점수를 입력하세요'))

if score >= 90:
  print('A학점입니다.')
else:
  if score >= 80:
    print('B학점입니다.')
  else:
    if score >= 60:
      print('D학점입니다.')
    else:
      print('F학점입니다.')

점수를 입력하세요94
A학점입니다.

In [7]:
score = int(input('점수를 입력하세요'))

if score >= 90:
  print('A학점')
elif score >= 80:
  print('B학점')
elif score >= 60:
  print('D학점')
else:
  print('F학점')

점수를 입력하세요788
A학점

In [8]:
# 점수가 60이상이면 pass 60 미만이면 fail 출력

score = int(input('점수를 입력하세요'))
if score >= 60:
  print('pass')
else:
  print('fail')

점수를 입력하세요55
fail

In [9]:
#간단한 조건식

score = 65
print(score, '점수는', 'pass' if score >= 60 else 'fail')

65 점수는 pass

In [16]:
# 반복문
num = 100
sum = 0

for i in range(1, num + 1): #부터 101까지
  if(i%2==0):               #짝수라면
    sum += i                # 2,4,......100

print('1부터 %d까지의 짝수의 합 %d' % (num, sum))

1부터 100까지의 짝수의 합 2550

In [18]:
# 문제) 1부터 100까지의 홀수의 합 생성

num=100
sum=0

for i in range(1, num + 1): #1부터 100까지
  if (i%2==1): #나머지가 1
    sum += i

print('1부터 %d까지의 홀수의 합은 %d입니다.' % (num, sum))

1부터 100까지의 홀수의 합은 2500입니다.

**문제) 1부터 5까지의 숫자 출력하기**

In [21]:
#방법1
for i in range(1,6):
  print(i)

1
2
3
4
5


**문제) 입력 받은 수 만큼 별 생성**

In [23]:
num = int(input('숫자를 입력하세용'))

for i in range(num + 1):
  print(i*'*')

숫자를 입력하세용4

*
**
***
****

In [26]:
#while을 이용하여 1부터 5까지 출력해보기

num = 1
while num <= 5:
  print(num, end="") #붙여서 출력
  num += 1

12345

#난수생성하기

In [28]:
import random
rnum = random.randrange(1,100) # 1~99사이의 임의의수!
print(rnum)

29

**1~45사이의 숫자 6개 난수 출력**

논리1~45 범위, 2. 반복 6번

In [41]:
# 방법1
import random
for i in range(0,6):
  i = random.randrange(1,46)
  print('출력된 6개의 난수는' , i ,'입니다')

출력된 6개의 난수는 42 입니다
출력된 6개의 난수는 35 입니다
출력된 6개의 난수는 26 입니다
출력된 6개의 난수는 7 입니다
출력된 6개의 난수는 45 입니다
출력된 6개의 난수는 3 입니다

In [39]:
for i in range(1,7):
  print(random.randrange(1,46), end = ",")

26,18,37,37,7,6,

컴퓨터가 1부터 99사이의 임의의 수를 저장하고,

숫자를 입력받아서 컴퓨터가 저장한 수를 맞추기.

컴퓨터는 입력한 숫자가 정답과 비교하여 큰수,작은수 인지 출력.

정답 입력시 입력한 횟수를 출력하기.

  1. 난수 생성.
  2. 정답을 맞추는 동안 계속 입력 받기. => while True :

In [46]:
import random

#1부터 99까지 범위 설정
rnum = random.randrange(1,100)
cnt = 0

while True:
  num = int(input('수를 입력하세요'))
  cnt += 1
  if rnum > num:
    print( num, '보다는 큰 수 입니다')
  elif rnum < num:
    print( num, '보다는 작은 수 입니다.')
  else:
    print('정답입니다')
    print(cnt, '만에 답을 맞췄습니다!')
    break

수를 입력하세요78
78 보다는 작은 수 입니다.
수를 입력하세요50
50 보다는 큰 수 입니다
수를 입력하세요54
54 보다는 큰 수 입니다
수를 입력하세요58
58 보다는 큰 수 입니다
수를 입력하세요6
6 보다는 큰 수 입니다
수를 입력하세요64
64 보다는 큰 수 입니다
수를 입력하세요70
70 보다는 작은 수 입니다.
수를 입력하세요68
68 보다는 작은 수 입니다.
수를 입력하세요67
67 보다는 작은 수 입니다.
수를 입력하세요66
정답입니다
10 만에 답을 맞췄습니다!

# 중첩 반복문


- '%5d'에서 정수형 서식 문자 앞에 붙는 숫자는 오른쪽 정렬을 위한 숫자입니다. 즉 5개의 칸을 만들어 놓고 오른쪽으로 정렬하여 출력 하라는 의미

- %2d 에 있는 2 의 의미는 빈칸 2개를 의미

In [47]:
i, j = 0,0
for i in range (2,10):
    print("%5d단" % i) #5칸 만들고 오른쪽 정렬
    for j in range(2,10):
        print("%2d X %2d = %3d" % (i,j,(i*j)))
    print()

    2단
 2 X  2 =   4
 2 X  3 =   6
 2 X  4 =   8
 2 X  5 =  10
 2 X  6 =  12
 2 X  7 =  14
 2 X  8 =  16
 2 X  9 =  18

    3단
 3 X  2 =   6
 3 X  3 =   9
 3 X  4 =  12
 3 X  5 =  15
 3 X  6 =  18
 3 X  7 =  21
 3 X  8 =  24
 3 X  9 =  27

    4단
 4 X  2 =   8
 4 X  3 =  12
 4 X  4 =  16
 4 X  5 =  20
 4 X  6 =  24
 4 X  7 =  28
 4 X  8 =  32
 4 X  9 =  36

    5단
 5 X  2 =  10
 5 X  3 =  15
 5 X  4 =  20
 5 X  5 =  25
 5 X  6 =  30
 5 X  7 =  35
 5 X  8 =  40
 5 X  9 =  45

    6단
 6 X  2 =  12
 6 X  3 =  18
 6 X  4 =  24
 6 X  5 =  30
 6 X  6 =  36
 6 X  7 =  42
 6 X  8 =  48
 6 X  9 =  54

    7단
 7 X  2 =  14
 7 X  3 =  21
 7 X  4 =  28
 7 X  5 =  35
 7 X  6 =  42
 7 X  7 =  49
 7 X  8 =  56
 7 X  9 =  63

    8단
 8 X  2 =  16
 8 X  3 =  24
 8 X  4 =  32
 8 X  5 =  40
 8 X  6 =  48
 8 X  7 =  56
 8 X  8 =  64
 8 X  9 =  72

    9단
 9 X  2 =  18
 9 X  3 =  27
 9 X  4 =  36
 9 X  5 =  45
 9 X  6 =  54
 9 X  7 =  63
 9 X  8 =  72
 9 X  9 =  81

In [52]:
'''
역직각 삼각형 출력하기
*****
****
***
**
*
'''

h = int(input('높이를 입력하세용'))

for i in range(h,0,-1): #range 범위로 갖고놀기, 역순
  print(i*'*')

높이를 입력하세용7
*******
******
*****
****
***
**
*

In [65]:
'''
3. 역직각 삼각형 출력하기
*****  * 5개
 ****  공백(5-4)1개, * 4개
  ***  공백(5-3)2개, * 3개
   **  공백(5-3)3개, * 2개
    *  공백(5-1)4개, * 1개
 h=5
'''

for i in range(h,0,-1):
  print(" " * (h-i), end = "") #공백설정
  print(i * '*')

*******
 ******
  *****
   ****
    ***
     **
      *

In [ ]:
'''
1. 삼각형의 높이를 입력받은 후 삼각형을 출력하는 프로그램을 작성

[결과]
이등변 삼각형의 높이를 입력하세요 : 5
    *     공백: 4=5-1  *: 1 = 1*2-1
   ***    공백: 3=5-2  *: 3 = 2*2-1
  *****   공백: 2=5-1  *: 5 = 3*2-1
 *******
*********
'''

h=int(input("높이를 입력하세요:"))
for i in range(1,h+1) : #i=1,2,3,4,5, ... ,h
    print(" "*(h-i),end="") #h=h-1, h-2, h-3,....h-h
    print("*"*(i*2-1)) #???나 이거 이해 안감!

In [66]:

'''
2. 년도를 입력받아 윤년인지 평년인지 출력하기.
윤년은 4로 나누어 떨어지고, 100 나누어 떨어지는 연도는 제외한다., 400으로 나누어 떨어지면 윤년.
그외는 평년

년도를 입력하세요 : 2000
2000년은 윤년입니다.

년도를 입력하세요 : 2020
2020년은 윤년입니다.

년도를 입력하세요 : 2022
2022년은 평년입니다.

년도를 입력하세요 : 2100
2100년은 평년입니다.
'''

year = int(input('년도를 입력하십시오'))

if (year%4 == 0 and year % 100 != 0) or year % 400 == 0:
    print('윤년입니다.')
else:
  print('평년입니다')

년도를 입력하십시오2020
윤년입니다.

In [76]:

'''
3. 1 부터 1000 까지의 홀수의 합계 계산시 합이 최초로 1000이 넘는 숫자는
구하는 프로그램을 작성해 보자.

[예시]
1부터 20까지 홀수의 합계 계산시 처음으로 10이 넘는 숫자를 출력하기
7
1+3+5+7+9+ 11
'''

hap=0
cnt=0

for i in range(1, 1000 + 1):
  if i % 2 == 1:
    hap += i
    cnt = cnt + 1
    if hap>1000:
      print(cnt, '까지의 합은', hap, '입니다')
      break

32 까지의 합은 1024 입니다

In [77]:
'''
5. 금액을 입력받아 동전(500,100,50,10,1)으로 바꿔 주는 프로그램 작성하기
   동전의 갯수를 최소개로한 각각의 동전의 갯수를 구하는 프로그램 작성하기

금액을 입력하세요: 3750
500원동전 : 7개
100원동전 : 2개
50원동전 :  1개
10원동전 :  0개
1원동전  :  0개
'''

# 방법1)
money = int(input("금액을 입력하세용"))
temp = money

print("500원의 동전갯수", temp // 500 , "개")

temp %= 500

print("100원 동전의 갯수", temp //100, "개")

temp %= 100

print("50원 동전의 갯수", temp//50, '개')

temp %= 50

print("10원의 동전의 갯수", temp//50, '개')

temp %= 10

print("1원 동전의 갯수:",temp,"개")

print()

금액을 입력하세용754
500원의 동전갯수 1 개
100원 동전의 갯수 2 개
50원 동전의 갯수 1 개
10원의 동전의 갯수 0 개
1원 동전의 갯수: 4 개

In [79]:
# 방법2

temp = money

for m in [500, 100, 50, 10, 1]:
  print("%d원 동전의 갯수: %d" % ( m , temp/m ), '개')
  temp = temp % m

500원 동전의 갯수: 1 개
100원 동전의 갯수: 2 개
50원 동전의 갯수: 1 개
10원 동전의 갯수: 0 개
1원 동전의 갯수: 4 개